@import url('https://fonts.googleapis.com/css2?family=Kreon&family=Poppins:wght@300&display=swap');

body {
    text-align: center;
}
nav {
    background-color: steelblue;
    padding: 10px;
    font-family: Poppins;
}
nav a:link, nav a:visited {
    color: #ffffff;
    text-decoration: none;
}
a {
    color: white;
    margin: 40px;
}
#active {
    color: white;
    text-decoration: underline;
}
h1 {
    color: rgb(17, 75, 122);
    font-family: Kreon;
}
img {
    width: 100%;
    max-width: 800px;
}
.main-para {
    font-family: Poppins;
    font-size: 1.2em;
    line-height: 1.5em;
    text-align: left;
}
footer {
    background-color: steelblue;
    color: white;
    font-family: sans-serif;
    padding: 1px;
}