@import url('https://fonts.googleapis.com/css2?family=Kreon&family=Poppins:wght@300&display=swap');

nav {
    min-width: 100%;
    line-height: 3em;
    background-color: rgb(198, 229, 255);
    display: inline-block;
    font-family: "Poppins";
    font-size: 1.2em;
    text-align: center;
}
nav a {
    min-width: 150px;
    text-decoration: none;
    padding: 1.1em;
}
nav a:link, nav a:visited {
    color: #000000;
}
#active {
    font-weight: bold;
}
nav a:hover {
    color: #FFFFFF;
    background-color: #134266;
}
h1 {
    font-family: sans-serif;
    text-align: center;
    text-transform: uppercase;
}
p {
    font-family: sans-serif;
    text-align: center;
}